div{
    background-color:rgb(20, 20, 20);

    
     
     
    }
    .encabezado {

        
     
        position: fixed;
     
        top: 0;
     
        left: 0;
     
        width: 100%;
     
        z-index: 999px;
     
        box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5);
     
     }    

img{
    width: 120px;
    float: left;
    margin-left: 40px;
}

app-links-header{
    float: right;
    margin-top: 10px;
}
